@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;


}
html,body{
    width: 100vw;
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
    
}
header{
    width: 100%;
    height: 13%;
    background-color:white;
    position: fixed;
   
}
header >nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin{
    width: 80%;
    margin: 0 auto;
}
.nav{
    margin-top: 20px;
}
.left-side-nav{
    display: flex;
    align-items: center;
    gap: 80px;
}
.ticket-Realted-Query{
    display: flex;
    align-items: center;
    gap: 30px;
}
.ticket-related-query-inside-flex{
    text-align: center;
}
.right-side-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}
.right-side-nav-inside-flex{
    display: flex;
    gap: 10px;
    
}


/* Main Section */

main{
    width: 100%;
    height: 86%;
    background-image: url(images/HeroImage.png);
    background-position-x: left;
   background-position-y: bottom;
  /* background-blend-mode: unset; */
  /* background-clip: padding-box; */
    background-size: contain;
    background-repeat: no-repeat;
}
.wrapper-heading{
    width: 100%;
    height: 100%;
}
.wrapper-heading .main-text{
position: relative;
top: 155px;
left: 26vw;
/* font-size: 40px; */
font-size: 38px;
font-weight: 900;
color: #fff;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.ticket-booking-wrapper{
    width: 1000px;
    height: 122px;
    background-color: rgb(232, 221, 221);
    margin: 12% 18%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-color: rgb(217, 217, 225);
    
    overflow: hidden;

}

.from , .to ,  .date , .search{
    background-color: rgb(228, 228, 236);
   
} 
/* Placeholder Text editing  */
::placeholder {
    color: rgb(2, 2, 2);
    font-weight: 400;
    font-size: 18px;
  }
.from{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    /* padding: 0 0 0 20px; */
}
i{
    opacity: 0.3;
    font-size: 20px;
    font-weight: 600;
}
hr{
    font-weight: 900;
}
/* insdie .from Css */
.from-inside{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}


 .from-inside .input-box input{
    border: none;
    outline: none;
    background-color: transparent; 

}


.to{
display: flex;
width: 300px;
align-items: center;
justify-content: center;
padding: 0 0 0 20px;
}
.to .input-box input{
    border: none;
    outline: none;
    background-color: transparent; 
    font-size: 18px;
   
    color: black;

}



.date {
width: 250px;
display: flex;

align-items: center;
justify-content: center;
padding: 0 0 0 20px;
}
.search{
width: 300px;
background-color: rgb(242, 64, 64);
display: flex;
justify-content: center;
align-items: center;
}
.search-inside p{
font-size: 22px;
color: #fff;
font-weight: 900;
}