@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;


}
html,body{
    width: 100vw;
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
    
}
header{
    width: 100%;
    height: 13%;
    background-color:rgb(255, 254, 254);
    position: fixed;
    z-index: 1;
    
   
}
header >nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin{
    width: 80%;
    margin: 0 auto;
}
.nav{
    margin-top: 20px;
}
.left-side-nav{
    display: flex;
    align-items: center;
    gap: 80px;
}
.ticket-Realted-Query{
    display: flex;
    align-items: center;
    gap: 30px;
}
.ticket-related-query-inside-flex{
    text-align: center;
}
.right-side-nav{
    display: flex;
    align-items: center;
    gap: 50px;
}
.right-side-nav-inside-flex{
    display: flex;
    gap: 10px;
    
}


/* Main Section */

main{
    width: 100%;
    height: 86%;
    background-image: url(images/HeroImage.png);
    background-position-x: left;
   background-position-y: bottom;
  /* background-blend-mode: unset; */
  /* background-clip: padding-box; */
    background-size: contain;
    background-repeat: no-repeat;
}
.wrapper-heading{
    width: 800px;
}
.wrapper-heading .main-text{
position: relative;
top: 155px;
left: 26vw;
/* font-size: 40px; */
font-size: 38px;
font-weight: 900;
color: #fff;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

.ticket-booking-wrapper{
    width: 1000px;
    height: 122px;
    /* background-color: rgb(255, 255, 255); */
    background-color: white;
    margin: 12% 18%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
    
    overflow: hidden;

}

.from , .to ,  .date , .search{
    background-color: white;
   
} 
/* Placeholder Text editing  */
::placeholder {
    color: rgb(2, 2, 2);
    font-weight: 400;
    font-size: 18px;
  }
.from{
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    /* padding: 0 0 0 20px; */
}
i{
    
    font-size: 20px;
    
}
hr{
    font-weight: 900;
}
/* insdie .from Css */
.from-inside{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* padding:  0 0 0 30px; */
    width: 270px;
}


 .from-inside .input-box input{
    border: none;
    outline: none;
    background-color: transparent; 

}
.arrow-round{
   /* background-color:  rgb(228, 228, 236) */
   background-color: white;
   
}
.arrow-round i{
    height: fit-content;
    width: fit-content;
    font-size: 18px;
    color: rgb(137, 135, 135);
    
    position: absolute;
    top: 36%;
    left: 34.4%;
    
    padding: 10px;
    border-radius: 25px;
    border: 1px solid rgb(137, 135, 135,0.3);
}
.to{
display: flex;
width: 300px;
align-items: center;
justify-content: center;
padding: 0 0 0 30px;
}
.to .input-box input{
    border: none;
    outline: none;
    background-color: transparent; 
    font-size: 18px;
   
    color: black;

}



.date {
width: 200px;
display: flex;

align-items: center;
justify-content: center;
padding: 0 0 0 20px;
}
.search{
width: 300px;
background-color: rgb(242, 64, 64);
display: flex;
justify-content: center;
align-items: center;
}
.search-inside p{
font-size: 22px;
color: #fff;
font-weight: 900;
}



/* Couponb section  */

.Trending-Offers{
 width: 1200px;   
 background-color: rgb(239, 244, 244);
padding: 30px;
 position: relative;
top: -150px;
left: 165px;
border-radius: 30px;

}
.trending-offer-heading{
    display: flex;
    justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
   
}
.trending-offer-heading button{
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid rgb(36, 36, 36);
    color: blue;
    font-weight: 600;
    font-size: 17px;
}
.trending-offer-heading p{
font-size: 38px;
color: rgb(72, 71, 71);
font-weight: 500;
}
.offer-section-img {
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    
}
.offer-section-img::-webkit-scrollbar{
    display: none;
}
.offer-section-img .inside-offer-section {
    display: flex;
    gap: 20px ;
}


 .First{
    width: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-image: linear-gradient(to right, rgb(9, 9, 157) , rgb(56, 173, 212));
    color: white;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
}
.First .img img{
    border-radius: 50px;
    width: 80px;
    object-fit: cover;
}
.First .text-section-first{
    display: flex;
    flex-direction: column;
    
    
}
.text-section-first .transparent-btn button{
    padding: 2px 10px;
    border-radius: 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    margin-bottom: 5px;
}
.First .text-section-first p{
margin-bottom: 5px;
font-weight: 900;
}
 .First .coupon-section{
    display: flex;
    gap: 10px;
 }
 .First .coupon-section .first-coupon P{
    border:1.8PX  dotted;
    font-size: 14PX;
    padding: 2PX 10PX;
    background: rgba(255, 255, 255, 0.2);
    
 }
 .First .coupon-section .coupon-copy{
color: white;
 }
 .SUPERHIT{
    background-image: linear-gradient(to right, rgb(82, 5, 5) , rgb(212, 56, 74));
 }
 .SUPERHIT .text-section-first .transparent-btn button{
    background: rgba(255, 255, 255, 0.2);
 }
 .SUPERHIT .text-section-first .coupon-section .first-coupon p {
   background: rgba(255, 255, 255, 0.2);
 }
 .Bus300{
    background-image: linear-gradient(to right,rgb(24, 126, 73),rgb(140, 214, 183));
 }
 .Bus300 .text-section-first .transparent-btn button{
    background: rgba(255, 255, 255, 0.2);
 }
 .Bus300 .text-section-first .coupon-section .first-coupon p {
    background: rgba(255, 255, 255, 0.2);
 }
 .RBTRIP {
    background-image: linear-gradient(to right, rgb(35, 141, 160),rgb(23, 205, 221))
 }
 .RBTRIP .text-section-first .transparent-btn button {
    background: rgba(255, 255, 255, 0.2);
 }
 .RBTRIP .text-section-first .coupon-section .first-coupon p {
    background: rgba(255, 255, 255, 0.2);
 }

 .CHARTEDED15{
    background-image: linear-gradient(71.04deg, rgb(206, 119, 0) -6.92%, rgb(255, 194, 111) 109.43%);

 }

 .CHARTEDED15 .text-section-first .transparent-btn button {
    background: rgba(255, 255, 255, 0.2);
  
 }
 .CHARTEDED15 .text-section-first .coupon-section .first-coupon p{
    background: rgba(255, 255, 255, 0.2);
 }

 .APSRTCNEW {
    background-image: linear-gradient(71.04deg, rgb(134, 0, 62) -6.92%, rgb(210, 81, 141) 109.43%);
 }
 .APSRTCNEW .text-section-first .transparent-btn button{
    background: rgba(255, 255, 255, 0.2);
 }
 .APSRTCNEW .text-section-first .coupon-section .first-coupon p {
    background: rgba(255, 255, 255, 0.2);
 }
 .TSRTC {
    background-image: linear-gradient(71.04deg, rgb(60, 16, 83) -6.92%, rgb(173, 83, 137) 109.43%);
 }
 .TSRTC .text-section-first .transparent-btn button {
    background: rgba(255, 255, 255, 0.2);
 }
 .TSRTC .text-section-first .coupon-section .first-coupon p {
    background: rgba(255, 255, 255, 0.2);
 }
 .UPSRTC {
    background-image: linear-gradient(71.04deg, rgb(63, 43, 150) -6.92%, rgb(168, 192, 255) 109.43%);
 }
 .UPSRTC .text-section-first .transparent-btn button {
    background: rgba(255, 255, 255, 0.2);
 }
 .UPSRTC .text-section-first .coupon-section .first-coupon p {
    background: rgba(255, 255, 255, 0.2);
 }
.button{
    position: absolute;
    top: 60%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
.button button{
    padding: 15px 20px;
    border-radius: 35px;
    border: none;
    background-color: white;
    text-align: center;
    color: rgb(29, 29, 29);
}
.button .back-btn{
    position: absolute;
  left: -15px;
}
.button .next-Btn{
    position: absolute;
   left: 1100px;
}
 .sponsership{
    border-radius: 20px;
   width: 1000px;
   height: 100px;
   position: relative;
   top: -140px;
  
   margin: 50px auto;
   background-image: url(images/sponsership2.png); 
   background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

 object-fit: contain;
 }  
/* .sponsership img{
    width: 1000px;
    height: 200px;
  object-fit: none;
} */

 /* Ticket Section  */

 .Buy-tickets{
    display: flex;
    justify-content: space-between;
 }
.left-section{
    display: flex;
    flex-direction: column;
    
    width: 35rem;
}
 .left-section .heading p {

    font-size: 40px;
 }
 .left-section hr{
    width: 30rem;
 }
 .left-section .heading p span{
    font-weight: 800;
 }
.left-section .rental-section{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
}
.left-section .rental-section .rental-section-inside{
display: flex;
gap: 10px;
align-items: center;
}
.left-section .paragrapgh-short p {
    margin-top: 40px;
}
.about-buy-ticket-security{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.authorised{
    display: flex;
    gap: 20px;
}
.book-cab-bus-button{
    margin-top: 40px;
}
 .book-cab-bus-button button{
  padding: 15px 30px;
  background-color: rgb(227, 60, 94);
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 20px;

 }
 .dUzaI {
    width: 36.25rem;
    background-image: url(https://s3.rdbuz.com/web/images/homeV2/AboutUs/aboutUsImg.svg);
    position: relative;
    height: 39.25rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.ryde-pop{
    position: relative;
    bottom: -150px;
    left: -102px;
}



/* Hero Section  */
.hero-section{

    width: 1230px;
    
    background-color: rgb(236, 115, 115);
    padding: 30px;
    margin: 200px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.hero-section-text {
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    line-height: 3rem;
}




/* .rating-and-download-section{
    background-color: white;
} */


.rating-and-download-section{

    display: flex;
    align-items: center;
    gap: 80px;
}
.quick-acces{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
    }
.quick-acces-logo{
    color:white;
    
     border-radius: 20px; 
     width: fit-content;
     color: black;
}
.quick-acces-text{
    font-size: 19px;
    color: rgb(51, 50, 50);
}
.to-rating-div{
    background-color: white;
    width: fit-content;
    padding:   30px 30px 40px 30px;
    border-radius: 20px;
   
}





.rating{
display: flex;
gap: 40px;
margin-top: 30px;
}
.rating hr{
    color: rgb(47, 46, 46);
}

.play-store-section .rating-stars{
    display: flex;
    align-items: center;
    gap: 5px;
}

.play-store-section .rating-stars i {
    font-size: 14px;
}

.play-store-section .rating-stars p {
    font-size: 20px;
    font-weight: bold;
}

.downloads{
    font-size: 14px;
    opacity: 0.8;text-shadow: rgb(26, 25, 25);
}


.App-store-section .rating-stars{
    display: flex;
    align-items: center;
    gap: 5px;
}

.App-store-section .rating-stars i {
    font-size: 14px;
}

.App-store-section .rating-stars p{
    font-size: 20px;
    font-weight: bold;
}

.text-download-section p{
font-size: 14px;
font-weight: bold;
}

.scanner-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.scanner-section .text p{
    color: #fff;
    font-weight: 900;
    font-style: normal;
}

.scanner-section .scanner-img-qr-code img{
  object-fit: fill;
}

.download-section-play-app-store{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.download-section-play-app-store .text p {
    color: #fff;
    font-weight: 900;
    font-style: normal;
    font-stretch: expanded;
}
.download-section-play-app-store  .store-links{
    display: flex;
    flex-direction: column;
    gap: 22px;
}


/* Primo Section Starts Here  */
.Primo-collection{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;


}
.primo-bottom-flex{
    display: flex;
    gap: 40px;
}
.primo-botton-indide-flex{
    display: flex;
    width: 350px;
    gap: 20px;
    background-image: linear-gradient(to right,rgb(75, 29, 182), rgb(93, 32, 96));
    padding: 20px;
    border-radius: 20px;
    color: white;
    align-items: center;
}
.text-flex{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.p1{
    font-size: 20px;
    font-weight: 900;
}
.p2{
    font-size: 14px;
    font-weight: 300;
    
}

.partnerwithwrapper {
    width: 1200px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.partnerwithwrapper .main-text p  {
 font-size: 2.9rem;
 color: rgb(44, 44, 44);
}
.rtc-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.top-rtc-text-section { 
    display: flex;
    justify-content: space-between;
    
}
.top-rtc-text-section .text p {
font-size: 2rem;
color: rgb(59, 58, 58);
}
.top-rtc-text-section .button-rtc button {
padding: 13px 25px;
border-radius: 15px;
align-items: center;
border: 1px solid rgb(43, 42, 42);
background-color: #fff;
outline: none;
font-weight: 400;
line-height: 1.5;
font-size: 16px;
}


.partner-names-wrapper {
    display: flex;
    gap: 45px;
    
}

.partner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.partner .text p{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
}
.partner .image img{
    width: 110px;
    object-fit: contain;
}

.private-bus {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.private-bus-section {
    display: flex;
    justify-content: space-between;
}
.private-bus-names{
display: flex;
width: 1200px;
gap: 60px;
align-items: center;
margin-left: 20px;
}
.private-bus-names ul  {
    display: flex;
    gap: 40px;
    flex-direction: column;
   
    
}
.private-bus-names ul li  {
    list-style: none;
    width: max-content;
   color: rgb(58, 58, 58);
   
    
}
.private-bus-names ul li:hover{
    width: max-content;
  

    background-color: whitesmoke;
   
}
/* .requently-asked-Question   Section Here */

.Frequently-asked-Question {

}

.Frequently-asked-Question .Frequently-asked-heading p {
    font-size: 3rem;
    color: rgb(35, 34, 34);
}
.Query-related-to-section {
    display: flex;
    gap: 20px;
}
.Frequently-asked-Question .Query-related-to-section button {
    border: none;
    outline: none;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    animation: none;
    margin:  30px 0;
  

}
.Frequently-asked-Question .Query-related-to-section button:hover{
    border-bottom: 1px solid grey;
}


/* .questions .general-questions {
    
} */
.questions .general-questions .firstquesion .inside-first-question{
   
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.questions .general-questions .firstquesion .inside-first-question{
    font-weight: 800;
    font-size: 14px;
}
.general-questions {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.firstquesion {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgb(220, 212, 212);
  
}
.firstquesion:hover{
    cursor: pointer;
}
#answer{
    display: none;
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.2;
    padding: 20px;

}


.question-container {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.answer {
    margin-top: 10px;
}
.Global-Presence {
    margin-top: 100px;
}
.Global-Presence .text-global-presence p{
    font-size: 3rem;
    color: rgb(35, 34, 34);
}
.counties-list{
    display: flex;
    gap: 80px;
    margin-top: 50px;
}
.flex-country{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
 .counties-list .flex-country > p {
    font-size: 18px;
    font-weight: 800;
    line-height: 2;
    letter-spacing: 2px;
}

.scroll-arrow {
    margin: 100px auto;
    width: fit-content;
    padding: 10px;
    position: relative;
   left: 600px;

    border: 1px solid rgb(41, 40, 40);
    border-radius: 10px ;
}
footer{
    width: 100%;
    background-color: #f5f2f2dc;
    padding: 50px 0  0 0; 
}
.footer-section-1{
    display: flex;
    gap: 130px;
     
}
.footer-section-1 ul li{
    list-style: none;
    font-size: 14px;
    line-height: 2;
}

footer hr{
    margin:  40px auto;
    width: 1230px;
}

.footer-section-1 ul li:first-child{
    font-size: 20px;
    font-weight: 800;
    
}
.footer-section-2 {
    display: flex;
    gap: 100px;
    /* align-items: center; */
}
.logo-section-footer-2 {
    width: 25%;
}
.logo-section-footer-2 .text-footer-section-2 p {
  font-size: 14px;
  opacity: 0.8;
}
.ul-section-footer-2{
    width: 75%;
    gap: 80px;
    display: flex;
}

.ul-section-footer-2 ul li {
list-style: none;
line-height: 2;
font-size: 14px;
}
.ul-section-footer-2 ul li:first-child{
    font-size: 20px;
    font-weight: 800;
}

.footer-section-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-bottom: 50px;
}

.links-social-footer-3{
    display: flex;
    align-items: center;
    gap: 20px;
}
.text-footer-3 p {
    font-size: 14px;
    color: rgb(56, 56, 56);
    letter-spacing: 0.5px;
}

button{
    border: 1px solid rgb(36, 36, 36,0.5);
}